html, body {
    margin:0;
    padding:0;
    background-color: black;
}

body {
    overflow: hidden;
}

h1 {
    color: white;
    font-weight: bolder;
    font-size: 50px;
}

p {
    color: white;
}