.score__container {
    min-width: 75%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;

    gap: 2rem;
}

.score__container-top {
    width: 100%;
}

.train__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}

.card__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.choice__text {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

@media screen and (max-width: 585px) {
    .train__container {
        padding: .5rem;
    }

    .table__image {
        width: 100%;
    }

    .table > :not(caption) > * > * {
        padding: .25rem;
        /* font-size: small; */
    }
}