.bg__image {
    background:rgba(117, 201, 240, 1);
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.landing__center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    position: relative;
    z-index: 1;
    background-color: rgba(0,0,0,.5);
    background-blend-mode: multiply;
    height: 100%;
}

.game__button {
    min-width: 100px;
}

@media screen and (max-width: 585px) {
    .landing__center {
        padding: .5rem;
    }
}

/* SVG STYLES */

.svg__pink-mountains {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.svg__purple-mountains {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.svg__ground {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.svg__background {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

@media screen and (max-width: 700px) {
    .svg__ground {
        width: auto;
        height: 100%;
    }

    .svg__purple-mountains {
        width: auto;
        height: 100%;
    }

    .svg__pink-mountains {
        width: auto;
        height: 50%;
    }

    .svg__background {
        width: auto;
        height: 50%;
    }
}