.hidden {
    overflow: hidden;
}

.bg__container {
    position: relative;
    /* overflow-y: hidden; */
    width: 100vw;
    height: 100vh;
}

.bg__image {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    background-image: url(/mountain.png);
    background-color: rgba(0,0,0,.5);
    background-blend-mode: multiply;

    background-position: center;
    background-repeat: no-repeat;

    background-size: auto 150%;
    height: 200vh;
}

.landing__center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    padding: 1rem;
}

.game__button {
    min-width: 100px;
}

@media screen and (max-width: 585px) {
    .landing__center {
        padding: .5rem;
    }
}